#top{
    background-image: url("https://images.unsplash.com/photo-1527839321757-ad3a2f2be351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
 
   
}

.jumbotron{
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
    color:white;
} 
